extends layout

block content
    h1=title

    br

    form( action="/products" method="post")

        div( class="form-group")
            label( for="title")
                b Producto
            input( id="title" class="form-control" type="text" name="title")
        

        div( class="form-group")
            label( for="price")
                b Precio
            input( id="price" class="form-control" type="text" name="price")
        

        div( class="form-group")
            label( for="thumbnail")
                b Imagen
            input( id="thumbnail" class="form-control" type="text" name="thumbnail")
        

        button(class="btn btn-success mt-3 mb-5") Enviar

    a(href="/products")
        input( type="button" value="Get All Products")
